/* css for the single chat page */

.chat-card{
  border: 0;
}
/* Chat containers */
.chatcontainer {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0.9em;
  margin: 0.4em;
  flex:auto;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: rgb(63,131,214);
  float: right;
  color: #e4e0e0;
  font-size: 20px;
}

.light {
  border-color: #ccc;
  float: left;
  color: #5f5c5c;
  font-size: 20px;
}

/* Clear floats */
.chatcontainer::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.chatcontainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.display-text{
  height: 4rem;
  border-top: 0;
  background-color: rgb(222 217 217 / 13%);
  display: none;
}

/* Style the right image */
.chatcontainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}
.text-style{
  display: inline-block;
  margin-left: 2%;
}

/* Style time text */
.time {
  margin-left: 25%;
  color: #5f5c5c;
  font-size: 0.8em;
}
.micButton{
  background-color:'rgb(63,131,214)' !important;
  border-radius:'100%' !important;
  padding:'3px' !important;
  border:'0' !important;
  border-color:'rgb(63,131,214)' !important;
     
}
.changeBackgroundRed{
  background-color: red;
}
.changeDisplay{
  display: block !important;
}
.display-the-text{
  display: none !important;
}